/* Custom Styles for Goals Calculator Page */
.card-body {
    padding: 1.5rem;
}

.card-header {
    background-color: #343a40 !important;
}

.table.table-bordered {
    border-color: #495057;
}

/* Ensure only the active gym is displayed */
.gymInfo > div {
    display: none !important;
}

.gymInfo > div:first-of-type {
    display: block !important;
}

/* You can add more custom styles here if needed */